$color-1: rgb(59, 59, 59);
$color-2: rgb(5, 5, 5); 
$color-3: rgb(92, 92, 92); 
$color-4: rgb(153, 153, 153); 
$color-5: rgb(250, 250, 250); 
$color-6: rgba(231, 207, 243, 0.801); 
$color-7: rgb(17, 16, 17); 
$color-8: rgb(163, 99, 147); 
$color-9: rgb(8, 3, 1); 
$color-10: rgb(68, 67, 67); 
$color-11: #a190a1; 
$color-12: #884988;
$color-13: #d1ccd1;